@page
@model The_Book_2.Pages.Comments.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Comment</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Comment.Text)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Comment.Text)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Comment.Date)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Comment.Date)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Comment.UserId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Comment.UserId)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Comment.PostId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Comment.PostId)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Comment?.Id">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
