@page
@using Microsoft.AspNetCore.Identity;
@using The_Book_2.Areas.Identity.Data;

@model The_Book_2.Pages.PostModel

@inject SignInManager<The_Book_2User> SignInManager
@inject UserManager<The_Book_2User> UserManager

@{
    ViewData["Title"] = "Post";
}

<div class="text-center">

 
    @foreach (var post in Model.Posts)
    {
        <h1>@Html.DisplayFor(modelItem => post.Title)</h1>
    <table class="table table-fixed">
            <thead>
                <tr>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => post.Text)
                </td>
                <td>
                    @foreach (var user in UserManager.Users.Where(u => u.Id == post.UserId))
                    {
                        @if (user.ProfilePictureData != null)
                        {
                            <img src="data:@user.ProfilePictureMimeType;base64,@Convert.ToBase64String(user.ProfilePictureData)" />
                        }
                        else
                        {
                            <img src="/Images/noavatar.png">
                        }
                    <br />
                        @Html.DisplayFor(modelItem => user.UserName)
                    }
                    <br>
                    @Html.DisplayFor(modelItem => post.Date)
                </td>
            </tr>
            </tbody>
            </table>
    }

    @if (Model.Comment != null)
    {
                   <table class="table table-fixed">
                <thead>
                    <tr>
                        <th></th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
        @foreach (var comment in Model.Comment.Where(x => x.PostId == Model.PostId))
        {

                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => comment.Text)
                    </td>
                    <td>
                        @foreach (var user in UserManager.Users.Where(u => u.Id == comment.UserId))
                        {
                            @if (user.ProfilePictureData != null)
                            {
                                <img src="data:@user.ProfilePictureMimeType;base64,@Convert.ToBase64String(user.ProfilePictureData)" />
                            }
                            else
                            {
                                <img src="/Images/noavatar.png">
                            }
                            <br />
                        @Html.DisplayFor(modelItem => user.UserName)
                        }
                        <br>
                        @Html.DisplayFor(modelItem => comment.Date)
                    </td>
                </tr>
        }
                </tbody>
        </table>

        <a href="/Comments/Create?id=@Model.PostId">Svara på tråden</a>
    }


</div>